<footer>
    <div class="footer-conatiner">
        <div class="first-line">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Pricacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul>
                <li><a href="#"><img src="../../src/images/footer/insta.png" alt=""></a></li>
                <li><a href="#"><img src="../../src/images/footer/x.png" alt=""></a></li>
                <li><a href="#"><img src="../../src/images/footer/yooutube.png" alt=""></a></li>
                <li><a href="#"><img src="../../src/images/footer/facebook.png" alt=""></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; Tavo kitcken 2025 all rights reserved.</p>
        </div>
    </div>
</footer>