<header>
  <div class="logo-section">
    <a href="#">
        <img src="../../src/images/home/logo-1.png" alt="Logo 1">
        <img src="../../src/images/home/logo-3.png" alt="Logo 3">
    </a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="#">Trending</a></li>
      <li><a href="#">Easy Recipe</a></li>
      <li><a href="#">For Beginner</a></li>
      <li>
        <div class="search-wrap">
          <form id="searchForm" class="search-form" role="search" aria-label="search">
            <input
              id="c"
              class="search-input"
              type="search"
              name="q"
              placeholder="What are you cooking?"
              autocomplete="off"
              aria-autocomplete="list"
              aria-controls="suggestionList"
              aria-expanded="false"
            />
            <a href="#">
              <i class="fa-solid fa-list"></i>
            </a>
          </form>
        </div>
      </li>
    </ul>
  </nav>

  <div class="profile-section">
    <div class="save">
        <i class="fa-solid fa-bookmark"></i>
    </div>
    <div class="profile">
        <i class="fa-solid fa-user"></i>
    </div>
  </div>
</header>